<div class="content">
    <div class="wrap">
        <nav class="top-bar__nav">
            <ul class="top-bar__nav__ul">
                <li class="top-bar__nav__ul__li"><a routerLink="/">Главная</a></li>
                <li class="top-bar__nav__ul__li"><a routerLink="/cart">Корзина</a></li>
                <li class="top-bar__nav__ul__li li_cart">
                    <a routerLink="/cart">
                        <div class="top-bar__nav__ul__li__cart">
                            <div class="top-bar__nav__ul__li__cart__text">
                                В корзине<br>
                                На сумму
                            </div>
                            <div class="top-bar__nav__ul__li__cart__prop">
                                {{totalNumberOfCartItem}} товаров<br>
                                {{totalPrice}} рублей
                            </div>
                        </div>
                    </a>
                </li>
                <li class="top-bar__nav__ul__li">
                    <!-- <button (click)="openWishlistDialog()">open</button> -->
                    <!-- <a routerLink="/wishlist" >{{wishlistItems.length}} товара</a></li> -->
                    <div class="top-bar__nav__ul__li__wsh" (click)="openWishlistDialog()">{{wishlistItems.length}} товара</div>
                </li>
            </ul>
        </nav>
    </div>
</div>